header {
	transition: transform 0.3s ease, visibility 0s 0.3s linear;
}
 header.can-animate {
	transition: transform 0.3s ease, visibility 0s 0.3s linear;
}
 header.is-fixed {

	transform: translate3d(0, -100%, 0);
}
 header.scroll-up {
	transform: translate3d(0, 0, 0);
}
@media screen and (min-width:766px) {
	

	.slider::before, .slider::after {
		background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 100%);
		content: "";
		height: 100%;
		position: absolute;
		width: 100px;
		z-index: 2;
	}

	.slider::after {
		right: 0;
		top: 0;
		-webkit-transform: rotateZ(180deg);
		transform: rotateZ(180deg);
	}

	.slider::before {
		left: 0;
		top: 0;
	}
	.slider .slide-track {
		animation: scroll 80s linear infinite;
		display: flex;
		width: fit-content;

	}

	.slider .slide-track:hover {
		animation-play-state: paused;	
	}


	@keyframes scroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-250px * 9));
		}
	}
}
@media screen and (max-width:765px) {
	.slide-track{
		flex-direction: column;
		gap: 20px;
	}
	.slide-track .slide{
		width: 100%;
		
	}
}