@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background:0 0% 100%;
  --primary-bg-color: hsl(var(--background)/.6);
  --border-color:240 5.9% 90%;
  --accent:240 4.8% 95.9%;
}
.dark {
  --background:0 0% 0%;
  --primary-bg-color: hsl(var(--background)/ .6);
  --border-color:240 3.7% 15.9%;
  --accent:240 3.7% 15.9%;
}

.main-handler{  

  grid: 55px 1fr / 72px 1fr; 
}
@media screen and (max-width:650px) {
  .main-handler{  

    grid: 55px 1fr / 0px 1fr !important; 
  }
}
.un-b{
  unicode-bidi: isolate;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.classnammm{
  max-width: 100% !important;
  max-height: 430px !important;
  overflow: hidden !important;
  min-width: 200px !important;
  width: auto !important;
  /* aspect-ratio: 0.644512 / 1 !important; */
}